.cluster .anchorBL {
  display: none;
}

.cluster .propertyRow {
  display: none;
}

.cluster .index-content-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  bottom: 0;
  z-index: 9;
  padding: 100px 20px 0;
}

.cluster .index-content-right {
  position: fixed;
  right: 0;
  width: 260px;
  bottom: 0;
  z-index: 9;
}

.cluster .index-part {
  width: 400px;
  height: 888px;
  background: rgba(7, 24, 39, 0.8);
  border: 1px solid rgba(0, 106, 177, 0.6);
  border-radius: 6px;
}

.cluster .index-part .index-title {
  height: 42px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 42px;
  padding-left: 60px;
  margin-left: 10px;
  margin-top: 20px;
}

.cluster .index-part .title1 {
  background: url("../../assets/index/index-title-1.png") no-repeat;
}

.cluster .index-part p {
  font-size: 18px;
  color: #c1dfff;
  letter-spacing: 0;
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
  padding: 25px 30px;
}

.cluster .index-part .cluster-img {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.cluster .index-part .cluster-img img {
  margin-bottom: 20px;
}

.cluster .cluster-right {
  align-self: flex-end;
  margin-bottom: 150px;
}

.cluster .cluster-right div {
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  width: 243px;
  height: 43px;
  line-height: 48px;
  text-align: center;
  background: url("../../assets/cluster/cluster-right-bg.png") no-repeat;
}

.cluster .cluster-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.cluster .cluster-bg .cluster-dialog {
  width: 500px;
  height: 320px;
  background: rgba(0, 64, 115, 0.8);
  border: 1px solid #0177c7;
  border-radius: 4px;
}

.cluster .cluster-bg .cluster-dialog .cluster-title {
  background: url("../../assets/cluster/cluster-title.png") no-repeat;
  height: 40px;
  padding: 0 10px 0 15px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.cluster .cluster-bg .cluster-dialog .cluster-title img {
  cursor: pointer;
}

.cluster .cluster-bg .cluster-dialog p {
  padding: 20px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 30px;
}

.cluster .cluster-bg .cluster-dialog p span {
  color: #ffbd2c;
}

.cluster .cluster-bg .cluster-dialog .detail-btn {
  background-image: linear-gradient(180deg, rgba(0, 120, 169, 0.8) 0%, rgba(0, 67, 112, 0.8) 100%);
  border: 1px solid #72c7ff;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #f9f9f9;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}
