.space {
  .anchorBL {
    display: none;
  }
  .park-bg {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .park-dialog {
    background: rgba(0, 33, 59, 0.8);
    border: 1px solid rgba(1, 119, 199, 1);
    border-radius: 4px;
    width: 1000px;
    padding-bottom: 15px;
    text-align: center;
    > img {
      margin: 20px auto;
    }
    .park-title {
      height: 50px;
      padding: 0 15px;
      justify-content: space-between;
      background: url("../../assets/space/park-title.png") no-repeat;
      align-items: center;
    }
    .data-table {
      width: 580px;
      margin: 0 auto;
      background: rgba(0, 64, 115, 0.8);
      border: 1px solid rgba(1, 119, 199, 1);
      span {
        flex: 0 0 25%;
      }
      div {
        background: #007bc7;
        height: 50px;
        line-height: 50px;
        justify-content: space-around;
      }
      p {
        justify-content: space-around;
        padding:10px;
        line-height: 30px;
        &:nth-child(odd) {
          background: rgba(1, 119, 199, 0.3);
        }
      }
    }
    .four-item span{flex:0 0 25%}
    .five-item span{flex:0 0 20%}
    .three-item span{flex:0 0 33%}
    .viewbtn {
      cursor: pointer;
      background-image: linear-gradient(
        180deg,
        rgba(0, 182, 255, 0.8) 0%,
        rgba(0, 153, 255, 0.8) 100%
      );
      border: 1px solid rgba(114, 199, 255, 1);
      border-radius: 4px;
      font-size: 16px;
      color: #f9f9f9;
      letter-spacing: 0;
      text-align: center;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      width: 140px;
      margin-top: 20px;
    }
  }
}
